* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2f2922;
    color: #fff;
    padding: 1rem;
}

.imageheader {
    height: 50px;
    margin-right: 10px; 
    float: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 1200px;
    flex: 1;
}

.text-container {
    flex: 1;
    padding-right: 2rem;
}

.text-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.text-container p {
    color: #555;
    margin-bottom: 1.5rem;
}

.text-container form {
    display: flex;
    flex-direction: column;
}

.text-container textarea,
.text-container input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem; 
    font-size: 1rem;
    resize: none;
}

.text-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.text-container button {
    background-color: #C8A27E;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem; 
}

.text-container button:hover {
    background-color: #8f755d;
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 80%;
    height: auto;
}

footer {
    background-color: #2f2922;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    margin: 6px 0;
}

footer ul li {
    display: inline;
    margin-right: 6px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}