footer{
    background-color: #2f2922;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;

    ul{
        list-style-type: none;
        margin: 6px 0;
    }
    ul li{
        display: inline;
        margin-right: 6px;
        a{
            color: white;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
